PORT=
NODE_ENV=

MONGODB_URL=

# Super Admin Credentials
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_MAX_AGE=
JWT_REFRESH_TOKEN_MAX_AGE=

#----------------Redis Configuration ----------------------
REDIS_SERVER_HOST=
REDIS_SERVER_PORT=
REDIS_SERVER_PASSWORD=

#---------------- NodeMailer Configuration ----------------------
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=

#------------------- Multer Configuration ----------------------
MULTER_FILE_SIZE_LIMIT=

#------------------- Password Reset Configuration ----------------------
FRONTEND_URL=
PASSWORD_RESET_TOKEN_TTL_MS=600000